/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7 ;
  font-family: 'Poppins', sans-serif;
}

h2 {
  position: absolute;
  /* color: #000000; */
  top: 30px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #022660;
  text-shadow: 0 0 10px #ffffffaa;
}

.slide-container {
  max-width: 1120px;
  margin-top: 50px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.description {
  font-size: 16px;
  color: #2b2b2b;
  text-align: center;
  line-height: 1.8;
  white-space: pre-line;
  margin-top: 20px;
  font-weight: 700;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 38px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #6E93f7;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.button {
  padding: 8px 18px;
  background-color: #6D54A8;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.button:hover {
  background-color: #583c99;
  transform: translateY(-2px);
}

.button.edit-btn {
  background-color: #67e8f9;
  color: #ffffff;
}

.button.edit-btn:hover {
  background-color: #38d6e0;
}